{% extends 'base.html' %}
    
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<section class="about">
    <h2>About Me</h2>
    <p>Hello! I'm a passionate developer with experience in building web applications. I enjoy working on projects that challenge me and allow me to learn new technologies. In my free time, I like to explore open-source projects and contribute to the community.</p>
    <p>Feel free to check out my projects and get in touch if you'd like to collaborate!</p>
</section>
{% endblock %}